.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img{
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span{
  color: MediumAquamarine;
}
header{
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

header nav{
  padding-right: 40px;
}

nav{
  display: inline-block;
  padding: 20px 10px;
}

nav
.logo{
  display: flex;
}
.content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1232px;
  margin 0 auto 78px auto;
}

.column{
  display:flex;
  flex-direction: column;
  padding-top: 116px;
}
.large{
  border: 1px solid black;
  width: 630px;
}

.medium{
  border: 1px solid black;
  width: 300px;
}

.small{
  border: 1px solid black;
  width: 240px;
}

.story{
  display:block;
  border: 1px solid black;
}

.bites{
  font-size: 16px;
}

.bitelist{
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  display: flex;
  flex-direction: column;
  border: 0px 0px 1px 0px solid black;
}

.title{
  display: flex;
  color: white;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  border: 1px solid black;
  height: 300px;
  margin-top: 15px;
}

.tuna{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  display: flex;
}

.earth{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}

.research{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}

.cats{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}
